.allCardsHeader {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.allCardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}